#!/bin/sh
xprofile_main() {
    xrdb ~/.Xresources -cpp m4
    xset s off
    xset s noblank
    xset dpms 65535 65535 65535
    xset -dpms
    xset b off
    xset fp default
    for d in /usr/local/share/fonts/X11/*; do
        [ -f "$d/fonts.dir" ] && xset fp+ "$d" || true
    done
    for script in ~/scripts/{displays,controls}.sh; do
        [ -f "$script" ] && "$script" || true
    done
}

(
    set -eu
    xprofile_main
)
