#!/bin/sh
xprofile_main() {
    xrdb ~/.Xresources -cpp m4
    xset s off
    xset s noblank
    xset dpms 65535 65535 65535
    xset -dpms
    xset b off
    xset fp default
    local fontdir
    set +f -- /usr/local ~/.local
    for fontdir in "$@"/share/fonts/X11/*; do
        set -f
        [ -f "$fontdir/fonts.dir" ] && xset fp+ "$fontdir"
    done
    local script
    for script in ~/scripts/displays.sh ~/scripts/controls.sh; do
        [ -x "$script" ] && "$script"
    done
    true
}
(set -euf; xprofile_main)
